@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__index {
  padding-top: 7rem;
  overflow-x: hidden;
}

.main__index .back {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-animation: aparecer 2s;
          animation: aparecer 2s;
}

.main__index .principal__texts {
  background-color: #d3f0ff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 3rem 0;
      grid-template-areas: "title" "subtitle" "boton";
}

.main__index .principal__texts .title__h1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  margin: 1em 0;
  text-align: center;
  color: #17262b;
  font-size: 3.2rem;
}

.main__index .principal__texts .subtitle__h2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  margin: 1em 0;
  text-align: center;
  color: #05b8ff;
  font-size: 2rem;
  font-weight: 200;
}

.main__index .principal__texts .boton__contacto {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: boton;
  text-decoration: none;
  margin: 1rem auto;
  background: #17262b;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1.2rem;
  border-radius: 0.3em;
  display: inline-block;
  color: #05b8ff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 4rem;
}

.main__index .principal__texts .boton__contacto:hover {
  -webkit-box-shadow: -0.31em 0.31em 0.62em #17262b;
          box-shadow: -0.31em 0.31em 0.62em #17262b;
  -webkit-transform: translate(0.31em, 0.31em);
          transform: translate(0.31em, 0.31em);
}

.main__index .novedades .novedades__titulo {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
  color: #17262b;
}

.main__index .novedades .contenedor__parrafos {
  margin: 0 1rem;
}

.main__index .novedades .contenedor__parrafos .parrafo {
  margin-bottom: 1.5rem;
}

.main__index .novedades .contenedor__parrafos .parrafo .parrafo__titulo {
  color: #05b8ff;
  margin-bottom: 0.5rem;
}

.main__index .novedades .contenedor__parrafos .parrafo .parrafo__text {
  margin-bottom: 0.5rem;
}

.main__index .novedades .contenedor__parrafos .parrafo .parrafo__text--list {
  list-style: circle;
  margin-left: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .main__index .back {
    width: 80%;
    height: 80%;
  }
  .main__index .novedades .contenedor__parrafos {
    max-width: 1000px;
    margin: 0 auto;
  }
  .main__index .novedades .contenedor__parrafos .parrafo {
    margin: 4rem 0;
  }
  .main__index .novedades .contenedor__parrafos .parrafo__titulo {
    text-align: center;
    padding-bottom: 1.5rem;
  }
}

header {
  width: 100%;
  height: auto;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 999;
}

.bar-btn {
  font-size: 3.6rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #17262b;
}

.nav__menu {
  position: fixed;
  width: 100%;
  height: 0;
  top: 100px;
  background: #17262b;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav__menu li {
  display: none;
  line-height: 2rem;
  margin: 3rem 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav__menu li a {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__menu li a.active {
  color: #05b8ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__menu li a:hover {
  color: #05b8ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav__menu {
  height: 100vh;
}

#check:checked ~ .nav__menu li {
  display: block;
}

@media screen and (min-width: 768px) {
  nav {
    height: 6.5rem;
  }
  .bar-btn {
    display: none;
  }
  .nav__menu {
    position: relative;
    font-size: 1.2em;
    width: 100%;
    height: 6rem;
    top: 0;
    background: none;
    -webkit-transition: none;
    transition: none;
    text-align: center;
  }
  .nav__menu li {
    display: inline-block;
    line-height: 6.5rem;
    margin: 0 1.2rem;
    -webkit-transition: none;
    transition: none;
  }
  .nav__menu li a {
    font-size: 1em;
    color: black;
  }
}

footer {
  background: #17262b;
  color: #fff;
  text-align: center;
  height: 14rem;
}

footer .icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5rem 0;
}

footer .icon__container .icons a {
  font-size: 3rem;
  color: #fff;
}

footer .icon__container .icons a:hover {
  color: #05b8ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__bottom {
  padding: 4rem;
  background-color: #000;
}

footer .footer__bottom .foot {
  font-weight: 700;
  margin-bottom: 1rem;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes aparecer {
    0% {
      opacity: 0;
      -webkit-transform: translate(50px, 0);
              transform: translate(50px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
      -webkit-transform: translate(50px, 0);
              transform: translate(50px, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
}

.main__servicios {
  overflow-x: hidden;
}

.main__servicios .titulo__servicios {
  text-align: center;
  font-size: 3.2rem;
  -webkit-animation: aparecer 1s;
          animation: aparecer 1s;
  color: #17262b;
  padding-top: 12rem;
  padding-bottom: 7rem;
  background-color: #d3f0ff;
}

.main__servicios .servicio__img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-animation: aparecer 2s;
          animation: aparecer 2s;
}

.main__servicios .icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5rem 0;
}

.main__servicios .icons__container .fas {
  font-size: 5rem;
  color: #17262b;
}

.main__servicios .icons__container .fas:hover {
  color: #05b8ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__servicios .grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "box1" "box2" "box3";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  padding: 0rem 0 2rem 0;
}

.main__servicios .grid .box1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__servicios .grid .box2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__servicios .grid .box2 .subtitle__parrafo {
  margin: 0 2rem 1rem 2rem;
  color: #05b8ff;
}

.main__servicios .grid .box2 .items__parrafo {
  list-style: disc;
  margin: 0 2rem 1rem 3rem;
  font-weight: 600;
}

.main__servicios .grid .box3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: box3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__servicios .h3 {
  margin: 1em 0;
  text-align: center;
  color: #05b8ff;
  font-size: 2rem;
  font-weight: 200;
  background-color: #17262b;
  padding: 0.5rem;
}

.main__servicios .diseño {
  margin: 0 auto;
  padding: 8%;
  width: 100%;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.main__servicios .parrafo {
  padding: 1em 2em 3em 2em;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .main__servicios .servicio__img {
    width: 50%;
  }
  .main__servicios .diseño {
    width: 80%;
    height: 80%;
  }
  .main__servicios .h3 {
    font-size: 2.5rem;
  }
  .main__servicios .parrafo,
  .main__servicios .subtitle__parrafo,
  .main__servicios .items {
    padding: 1em 4em 0 4em;
    font-size: 1.5rem;
  }
}

.prueba {
  color: red;
}

.container__c {
  padding: 1em 1em;
  margin: 0 auto;
}

.container__c .container__contacto .form__title {
  color: #05b8ff;
  font-weight: 300;
  text-align: center;
  padding: 1em 0;
  font-size: 2rem;
  border-top: 1px solid #17262b;
}

.container__c .container__contacto .form {
  background: #d3f0ff2c;
  width: 100%;
  margin: 2em 0 5em 0;
  padding: 5em 2.18em;
  border-radius: 0.18em;
}

.container__c .container__contacto .form__label {
  display: block;
  font-size: 1.5rem;
  position: relative;
  padding: 1em 0;
}

.container__c .container__contacto .form__input {
  background: #d3f0ffa6;
  border: none;
  outline: none;
  border-bottom: 0.12em solid white;
  width: 100%;
  padding: 0.75em;
  margin-bottom: 1.25em;
  border-radius: 0.12em;
  font-size: 1rem;
}

.container__c .container__contacto .form__textarea {
  background: #d3f0ffa6;
  border: none;
  outline: none;
  border-bottom: 0.12em solid white;
  width: 100%;
  padding: 0.75em;
  margin-bottom: 1.25em;
  border-radius: 0.12em;
  font-size: 14px;
  resize: vertical;
  max-height: 9.37em;
  min-height: 3.12em;
}

.container__c .container__contacto .input__submit {
  width: 100%;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  border: none;
  padding: 0.9em 0;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#17262b), to(#d3f0ffa6));
  background-image: linear-gradient(to bottom, #17262b, #d3f0ffa6);
}

.container__c .container__contacto .input__submit:hover {
  -webkit-box-shadow: -0.31em 0.31em 0.62em gray;
          box-shadow: -0.31em 0.31em 0.62em gray;
  -webkit-transform: translate(0.31em, 0.31em);
          transform: translate(0.31em, 0.31em);
}

@media screen and (min-width: 1024px) {
  .container__c .container__contacto .form {
    width: 70%;
    margin: 0 auto;
  }
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */