@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.main__index {
  padding-top: 7rem;
  overflow-x: hidden;
}
.main__index .back {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  animation: aparecer 2s;
}
.main__index .principal__texts {
  background-color: #d3f0ff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  margin: 3rem 0;
  grid-template-areas: "title" "subtitle" "boton";
}
.main__index .principal__texts .title__h1 {
  grid-area: title;
  margin: 1em 0;
  text-align: center;
  color: #17262b;
  font-size: 3.2rem;
}
.main__index .principal__texts .subtitle__h2 {
  grid-area: subtitle;
  margin: 1em 0;
  text-align: center;
  color: #05b8ff;
  font-size: 2rem;
  font-weight: 200;
}
.main__index .principal__texts .boton__contacto {
  grid-area: boton;
  text-decoration: none;
  margin: 1rem auto;
  background: #17262b;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1.2rem;
  border-radius: 0.3em;
  display: inline-block;
  color: #05b8ff;
  transition: all 0.2s ease-in-out;
  height: 4rem;
}
.main__index .principal__texts .boton__contacto:hover {
  box-shadow: -0.31em 0.31em 0.62em #17262b;
  transform: translate(0.31em, 0.31em);
}
.main__index .novedades .novedades__titulo {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
  color: #17262b;
}
.main__index .novedades .contenedor__parrafos {
  margin: 0 1rem;
}
.main__index .novedades .contenedor__parrafos .parrafo {
  margin-bottom: 1.5rem;
}
.main__index .novedades .contenedor__parrafos .parrafo .parrafo__titulo {
  color: #05b8ff;
  margin-bottom: 0.5rem;
}
.main__index .novedades .contenedor__parrafos .parrafo .parrafo__text {
  margin-bottom: 0.5rem;
}
.main__index .novedades .contenedor__parrafos .parrafo .parrafo__text--list {
  list-style: circle;
  margin-left: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .main__index .back {
    width: 80%;
    height: 80%;
  }
  .main__index .novedades .contenedor__parrafos {
    max-width: 1000px;
    margin: 0 auto;
  }
  .main__index .novedades .contenedor__parrafos .parrafo {
    margin: 4rem 0;
  }
  .main__index .novedades .contenedor__parrafos .parrafo__titulo {
    text-align: center;
    padding-bottom: 1.5rem;
  }
}

header {
  width: 100%;
  height: auto;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.bar-btn {
  font-size: 3.6rem;
  cursor: pointer;
  align-items: center;
  color: #17262b;
}

.nav__menu {
  position: fixed;
  width: 100%;
  height: 0;
  top: 100px;
  background: #17262b;
  text-align: center;
  transition: all 0.5s;
}
.nav__menu li {
  display: none;
  line-height: 2rem;
  margin: 3rem 0;
  transition: all 0.5s;
}
.nav__menu li a {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
.nav__menu li a.active {
  color: #05b8ff;
  transition: 0.3s;
}
.nav__menu li a:hover {
  color: #05b8ff;
  transition: 0.3s;
}

#check {
  display: none;
}
#check:checked ~ .nav__menu {
  height: 100vh;
}
#check:checked ~ .nav__menu li {
  display: block;
}

@media screen and (min-width: 768px) {
  nav {
    height: 6.5rem;
  }

  .bar-btn {
    display: none;
  }

  .nav__menu {
    position: relative;
    font-size: 1.2em;
    width: 100%;
    height: 6rem;
    top: 0;
    background: none;
    transition: none;
    text-align: center;
  }
  .nav__menu li {
    display: inline-block;
    line-height: 6.5rem;
    margin: 0 1.2rem;
    transition: none;
  }
  .nav__menu li a {
    font-size: 1em;
    color: black;
  }
}
footer {
  background: #17262b;
  color: #fff;
  text-align: center;
  height: 14rem;
}
footer .icon__container {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}
footer .icon__container .icons a {
  font-size: 3rem;
  color: #fff;
}
footer .icon__container .icons a:hover {
  color: #05b8ff;
  transition: 0.3s;
}
footer .footer__bottom {
  padding: 4rem;
  background-color: #000;
}
footer .footer__bottom .foot {
  font-weight: 700;
  margin-bottom: 1rem;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translate(10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 768px) {
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translate(50px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
.main__servicios {
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "titulo" "box1" "box2" "box3";
  grid-template-columns: 100%;
  grid-template-rows: 10rem 1fr 1fr 1fr;
  padding: 10rem 0;
}
.main__servicios .titulo__servicios {
  grid-area: titulo;
  text-align: center;
  font-size: 3.2rem;
  animation: aparecer 1s;
}
.main__servicios .box1 {
  grid-area: box1;
  display: flex;
  flex-direction: column;
}
.main__servicios .box1 .h3 {
  text-align: center;
  font-size: 2rem;
  background-color: gray;
}
.main__servicios .box1 .parrafo1 {
  padding: 1em 2em 3em 2em;
  text-align: justify;
}
.main__servicios .box1 .diseño {
  margin: 10px auto;
  padding: 10%;
  width: 70%;
}
.main__servicios .box2 {
  grid-area: box2;
  display: flex;
  flex-direction: column;
}
.main__servicios .box2 .h3 {
  text-align: center;
  font-size: 2rem;
  background-color: gray;
}
.main__servicios .box2 .parrafo2 {
  padding: 1em 2em 3em 2em;
  text-align: justify;
}
.main__servicios .box2 .posicionamiento {
  margin: 10px auto;
  padding: 10%;
  width: 70%;
}
.main__servicios .box3 {
  grid-area: box3;
  display: flex;
  flex-direction: column;
}
.main__servicios .box3 .h3 {
  text-align: center;
  font-size: 2rem;
  background-color: gray;
}
.main__servicios .box3 .parrafo3 {
  padding: 1em 2em 3em 2em;
  text-align: justify;
}
.main__servicios .box3 .mantenimiento {
  margin: 10px auto;
  padding: 10%;
  width: 70%;
}

.prueba {
  color: red;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
