.main__index {
  padding-top: 7rem;
  overflow-x: hidden;
  .back {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: aparecer 2s;
  }

  .principal__texts {
    background-color: $colorWhite;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 3rem 0;
    grid-template-areas:
      "title"
      "subtitle"
      "boton";
    .title__h1 {
      grid-row: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: title;
      margin: 1em 0;
      text-align: center;
      color: $secondColor;
      font-size: $tituloPhone;
    }
    .subtitle__h2 {
      grid-row: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: subtitle;
      margin: 1em 0;
      text-align: center;
      color: $thirdColor;
      font-size: $subtPhone;
      font-weight: 200;
    }
    .boton__contacto {
      grid-row: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: boton;
      text-decoration: none;
      margin: 1rem auto;
      background: $secondColor;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 1.2rem;
      border-radius: 0.3em;
      display: inline-block;
      color: $thirdColor;
      transition: all 0.2s ease-in-out;
      height: 4rem;
      &:hover {
        box-shadow: -0.31em 0.31em 0.62em $secondColor;
        transform: translate(0.31em, 0.31em);
      }
    }
  }
  .novedades {
    .novedades__titulo {
      text-align: center;
      font-size: 2.5rem;
      margin: 0 0 2rem 0;
      color: $secondColor;
    }
    .contenedor__parrafos {
      margin: 0 1rem;
      .parrafo {
        margin-bottom: 1.5rem;
        .parrafo__titulo {
          color: $thirdColor;
          margin-bottom: 0.5rem;
        }
        .parrafo__text {
          margin-bottom: 0.5rem;
        }
        .parrafo__text--list {
          list-style: circle;
          margin-left: 1.5rem;
        }
      }
    }
  }
  @media screen and (min-width: $desktop) {
    .back {
      width: 80%;
      height: 80%;
    }
    .novedades {
      .contenedor__parrafos {
        max-width: 1000px;
        margin: 0 auto;

        .parrafo {
          margin: 4rem 0;
        }
        .parrafo__titulo {
          text-align: center;
          padding-bottom: 1.5rem;
        }
        .parrafo__text {
          font-size: $fontDesktop;
        }
      }
    }
  }
}
