.main__servicios {
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "titulo"
    "box1"
    "box2"
    "box3";
  grid-template-columns: 100%;
  grid-template-rows: 10rem 1fr 1fr 1fr;
  padding: 10rem 0;

  .titulo__servicios {
    grid-area: titulo;
    text-align: center;
    font-size: $tituloPhone;
    animation: aparecer 1s;
  }

  .box1 {
    grid-area: box1;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .h3 {
      text-align: center;
      font-size: $subtPhone;
      background-color: gray;
    }
    .parrafo1 {
      padding: 1em 2em 3em 2em;
      text-align: justify;
    }
    .diseño {
      margin: 10px auto;
      padding: 10%;
      width: 70%;
    }
  }
  .box2 {
    grid-area: box2;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    .h3 {
      text-align: center;
      font-size: $subtPhone;
      background-color: gray;
    }
    .parrafo2 {
      padding: 1em 2em 3em 2em;
      text-align: justify;
    }
    .posicionamiento {
      margin: 10px auto;
      padding: 10%;
      width: 70%;
    }
  }
  .box3 {
    grid-area: box3;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    .h3 {
      text-align: center;
      font-size: $subtPhone;
      background-color: gray;
    }
    .parrafo3 {
      padding: 1em 2em 3em 2em;
      text-align: justify;
    }
    .mantenimiento {
      margin: 10px auto;
      padding: 10%;
      width: 70%;
    }
  }
}
